# Секреты и ключи
**/*.json
**/*.tfvars
**/key.json

# Служебные папки и файлы Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup

# Динамические файлы
**/inventory.ini
.DS_Store
._*
*.swp
*.swo
__pycache__/
*.pyc
*.tfstate
*.tfstate.*
